@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  html {
    scroll-behavior: auto !important;
  }
  body {
    @apply bg-background text-foreground font-serif selection:bg-primary selection:text-background;
    background-color: #050505;
    color: #FAFAFA;
  }
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}
